<!doctype html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IEedge， chrome=1" >
        <title> backbone.js Todo MVC </title>
        <link rel="stylesheet" href="assets/base.css">
    </head>
    <body>
        <script type = "text/template" id = "item-template"> </script>
        <script type = "text/template" id= "stats-template"></script>
        <script src = "http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"> </script>
        <script src = "js/lib/underscore-min.js"> </script>
        <script src = "js/lib/backbone-min.js"> </script>
        <script src = "js/lib/backbone.localStorage-min.js"> </script>
        <script src = "js/models/todo.js"> </script>
        <script src = "js/collections/todos.js"> </script>
        <script src = "js/views/todos.js"> </script>
        <script src = "js/views/app.js"> </script>
        <!--<script src = "js/routers/router.js"> </script> -->
        <script src = "js/app.js"> </script>
        
        
        <script type = "text/template" id = "item-template"> 
            <div class="view">
                <input type="checkbox" class="toggle" <%= complete ? : 'checked' : '' %>>
                <label > <%- title %> </label>
                <button class="destroy"></button>
            </div>
            <input value="<%- title %>" class="edit">
        </script>
        
        <script type = "text/template" id = "stats-template"> 
            <span id="todo-count">
                <strong><%= remaining %></strong>
                <%= remaining ===1 ? 'item': 'items' %> left 
            </span>
            <ul class="filters">
                <li><a href="#" class = "selected">All</a></li>
                <li><a href="#/active" >Active</a></li>
                <li><a href="#/complete"> Complete</a></li>
            </ul>
            
            <% if (completed) { %>
            <button id="clear-complete">Clear completed (<%= completed %>)</button>
             <% } %>
        </script>
        
        <section class="todoapp">
            <header class = "header">
                <h1>todos</h1>
                   <input class = "new-todo" placeholder="what needs to be done?" autofocus>
            </header>
            <section id = "main">
                <input id = "toggle-all" class="toggle-all" type = "checkbox">
                <label for = "toggle-all"> Mark all as complete </label>
                <ul id = "todo-list"> </ul>
            </section>
            <footer class = "footer"> </footer>

        </section>
        
        <div class="info">
            <p>Double-click to edit a todo </p>
            <p>written by <a href="https://github.com/brucechen7">Bruce</a></p>
            <p>Part of <a href = "http://todomvc.com">TodoMVC </a></p>    
        </div>
            
    </body>
</html>